<nav>
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/about" routerLinkActive="active">About</a>
  <a routerLink="/contact" routerLinkActive="active">Contact</a>
  <a routerLink="/services" routerLinkActive="active">services</a>
  <a routerLink="/shop" routerLinkActive="active">shop</a>
  <a routerLink="/wishlist" routerLinkActive="active">wishlist</a>
  <a routerLink="/profile" routerLinkActive="active">profile</a>
  <a routerLink="/sign-up" routerLinkActive="active">sign up</a>
  <a routerLink="/sign-in" routerLinkActive="active">sign in</a>
</nav>

<router-outlet></router-outlet>
